@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #09BC8A;
}

.App {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 200px;
    color: #172A3A;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

form > input {
    margin-bottom: 10px;
}

.loginButton {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #172A3A;
    color: #fff;
    border-radius: 5px;
}

Link {
    text-align: center;
}

.username, .password {
    border-radius: 8px;
}