.habits {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.flex-row {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.checkBoxes {
    margin-left: 10px;
}

input[type="text"], button {
    margin-bottom: 20px;
    margin-top: 10px;
}